html{
  height: 100%;
  font-size: 62.5%; 
  font-family: 'Courier New', Courier, monospace;
  /* min-height: 100%; */
} 

body{
  margin: 0em;
  display: flex;
}


section{
  font-size: 1.75rem;
  background-color: rgb(21, 161, 197);
  font-family: initial;
}

article{
  padding-left: 2.5rem;
}

h2{
  margin-bottom: 0%;
}

hr{
  width: 100%;
  height: 2px;
  border: none;
  margin: 0%;
}

/* --------Côté gauche---------------- */

#sectionLeft{
  display: flex;
  flex-direction: column;
  width: 33%;
  color: white;  
}

#sectionLeft hr{
  background-color: white;
}

#headerPerso{
  display: flex;
  flex-direction: column;
  text-align: center; 
}

#headerPerso > figure{
  margin: 0rem;
}

#headerPerso > figure > img{
  max-width: 16.6rem;
  border-radius: 50%;
  margin-top: 2rem;
}

#headerPerso > h2{
  font-size: 3rem;
  margin-top: 0rem;
}

#articleInfo{
  display: flex;
  flex-direction: column;
}

article figure{
  margin-left: 1rem; /*mettre 4 rem pour être au milieu.*/
  text-align: center;
}

#articleContact{
  display: flex;
  flex-direction: column;
}

#imgHouseContact{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#imgHouseContact figure{
  /* margin-left: auto; */
}

#imgHouseContact p{
  margin: 0%;
}

#imgHouseContact img{
  margin-top: 0.5rem;
}

#imgPhoneContact{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#imgPhoneContact img{
  margin-top: 0.5rem;
}

#txtPhoneContact p{
  margin: 0%;
}

#imgEnvelopeContact{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#imgLinkLinkedinContact{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#imgLinkGithubContact{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#articleInteret{
  display: flex;
  flex-direction: column;
}

/* --------Côté droit---------------- */

#sectionRight{
  width: 67%;
  height: 100%;
  background-color: white;
}

#sectionRight > header {
  text-align: center;
  height: 20rem;
}

#sectionRight h3{
  color: rgb(21, 161, 197);
}

#sectionRight hr{
  background-color: rgb(21, 161, 197);
}

/* --------Côté gauche---------------- */

@media(max-width: 47.9rem){
  body{
    flex-direction: column;
  }
  
  #sectionLeft{
    width: 100%;
  }

  #sectionRight{
    width: 100%;
  }

  #articleInfo ul{
    /* text-align: center; */
    position: relative;
    left: -2rem;
  } 

  #articleContact  div[id^=img]{
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -5rem;
  } 

 article figure{
    margin: 2rem auto 0 auto;
  }

  #articleInteret ul{
    position: relative;
    left: -2rem;
  }


}

  